<!DOCTYPE html>
<html>

<head></head>

<body>
    <div>
        <h1>Course Times</h1>
    </div>
    <div>
        <% if(calendarList.length > 0){ %>
                <% for(var i=0; i < calendarList.length; i++) { %>
                   <%= calendarList[i]['area'] %><%= calendarList[i]['code'] %>
                   <% var time_of_course  = ' ' %>
                   <br>
                <% for(var j = 0; j < calendarList[i]['times'].length; j++) { %>
                   <% if(calendarList[i]['times'].charAt(j) == ';') { %>
                    <%= time_of_course %>
                    <% time_of_course  = ' ' %>
                    <br>
                  <% } else{ %>
                  <% if(calendarList[i].times.charAt(j) == 'M' || calendarList[i].times.charAt(j) == 'T' || calendarList[i].times.charAt(j) == 'W' || calendarList[i].times.charAt(j) == 'R' || calendarList[i].times.charAt(j) == 'F'){ %>
                    <%=calendarList[i]['times'].charAt(j)%>
                  <% } else{ %>

                  <% time_of_course = time_of_course + calendarList[i]['times'].charAt(j) %>
                  <% } } %>
                <% } %>
                <%= time_of_course %>
                <br>
                <br>
        <% } } else{ %>
            <div>You are not enrolled in any classes.</div>
        <% } %>
    </div>
</body>

</html>
